
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #12141D !important;
}

header button{
padding: 5px 10px;
background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
}

header a{
    color: #ffffff;
    text-decoration: none;
}

@media (max-width:774px) {
    header img{
        height: 50px;
        width: 160px;
    }
    header button{
        padding: 3px 5px;
    }
    header button a{
        font-size: 12px;
    }
}


.banner h2{
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #DFDFDF;
}


.banner p{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #F0F0F3;
}

.banner a{
    font-family: DM Sans;
font-size: 27px;
font-weight: 500;
letter-spacing: 0em;
text-align: center;
color: #ffffff;
text-decoration: none;
}

.banner button{
    padding: 7px 15px;
    background: linear-gradient(93.31deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
}

.banner .img-wrap{
    border: 1px solid #F0F0F3;
}

/* .banner .bn-img{
    position: relative;
    left: -40px;
} */

@media (max-width:774px) {
    .banner h2{
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        color: #DFDFDF;
    }
    
    
    .banner p{
        font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #F0F0F3;
    }
    
    .banner a{
        font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    }
    
    .banner button{
        padding: 7px 15px;
        background: linear-gradient(93.31deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
    }
    
    .banner .img-wrap{
        border: 1px solid #F0F0F3;
    }
    
    .banner .bn-img{
        position: relative;
        left: -40px;
    }
}

.form .row{
    display: flex;
    justify-content: center;
}

.form input{
    width: 60%;
}

.form button{
    width: 20%;
}

.insane{
    overflow: hidden;
}

.insane h2{
    color: #E9E9E9;
}

.insane .one{
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.insane .number-wrap{
    width: 65px;
    height: 65px;
    background: linear-gradient(136.96deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM Sans;
font-size: 50px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.insane .red{
    background: linear-gradient(137.82deg, #302F70 -21.61%, #D34375 34.83%, #F3A146 95.98%);
}

.insane .two{
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(91.32deg, #9E3C73 -20.64%, #DF6663 34.43%, #EC8C50 102.99%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.insane .three{
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.insane span{
    background: linear-gradient(92.85deg, #8ADA71 2.7%, #47CD9C 51.79%, #2EAED1 104.97%, #4CD6AE 104.98%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.insane .four{
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
background:
linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.insane .five{
    background: linear-gradient(91.32deg, #9E3C73 -20.64%, #DF6663 34.43%, #EC8C50 102.99%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;    
}

.insane .six{
    font-family: DM Sans;
font-size: 30px;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.insane button{
    padding: 5px 20px;
    background: 
linear-gradient(91.32deg, #9E3C73 -20.64%, #DF6663 34.43%, #EC8C50 102.99%),
linear-gradient(93.31deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
}

.insane button a{
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
font-size: 36px;
font-weight: 500;
text-decoration: none;
letter-spacing: 0em;
text-align: center;
}

@media (max-width:774px) {
    .insane button a{
        color: rgba(255, 255, 255, 1);
        font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0em;
    text-align: center;
    }
    .seo  h1{
        color: #FFFDFD;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    } 
}

.insane p{
    color: #E9E9E9;
}

.seo{
    overflow: hidden;
}

.seo  h1{
    color: #FFFDFD;
text-align: center;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 700;
} 

.seo p{
    color: #EEE;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.seo .one h2{
    background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
}

.seo .two h2{
    font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
background: linear-gradient(137.82deg, #302F70 -21.61%, #D34375 34.83%, #F3A146 95.98%);

background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.seo .one button{
    background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%), #FF8A5B;
    width: fit-content;
    padding: 3px 10px;
}

.seo .two button{
    background: linear-gradient(138deg, #302F70 -21.61%, #D34375 34.83%, #F3A146 95.98%), #FF8A5B;
    width: fit-content;
    padding: 3px 10px;
}

.seo .three button{
    background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%), #FF8A5B;
    width: fit-content;
    padding: 3px 10px;
}

.seo .four button{
    background: linear-gradient(138deg, #302F70 -21.61%, #D34375 34.83%, #F3A146 95.98%), #FF8A5B;
    width: fit-content;
    padding: 3px 10px;
}

.seo button{
    background: linear-gradient(93.31deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
    border: none;
    padding: 5px 10px;
}

.seo button a{
    color: #FFF;
font-family: "DM Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
    text-decoration: none;
}

.seo hr{
    border: 1px solid #FFFFFF;
}

@media (max-width:774px) {
    .seo .one h2{
        background: linear-gradient(90.76deg, #7CD67A 0.24%, #4DC99D 50.43%, #38B3BB 99.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    }
    
    .seo .two h2{
        font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(137.82deg, #302F70 -21.61%, #D34375 34.83%, #F3A146 95.98%);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}


.spots{
    background: url(../Images/spots-available.png);
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spots .col-12{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spots h2{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 600;
}

.spots p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.spots button a{
    color: #FFF;
text-align: center;
font-family: "DM Sans";
font-size: 25px;
font-style: normal;
font-weight: 400;
text-decoration: none;
}

.spots button{
    border-radius: 33px;
border: 1px solid #FFF;
padding: 10px 70px;
background: transparent;
}

@media (max-width:774px) {
    .insane button a{
        color: rgba(255, 255, 255, 1);
        font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0em;
    text-align: center;
    }
    .seo  h1{
        color: #FFFDFD;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    } 
    .spots{
        background: url(../Images/spots-available.png);
        min-height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .spots .col-12{
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .spots h2{
        color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    }
    
    .spots p{
        color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    }
    
    .spots button a{
        color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    }
    
    .spots button{
        border-radius: 33px;
    border: 1px solid #FFF;
    padding: 10px 50px;
    background: transparent;
    }
}

.include{
    overflow: hidden;
}

.include button{
    border: none;
    padding: 8px 13px;
    background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%), #FFF;
}

.include button a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: "DM Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
}

.include h2{
    color: #FFFDFD;
text-align: center;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
}

.include h2 span{
    background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
}

.include h6{
    color: #EEE;
text-align: center;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
}

.include .col-lg-4 .col-box{
    background-color: #FFF;
    border-top-right-radius: 50px;
    min-height: 414px;
    padding: 10px 20px;
    border-bottom-left-radius: 50px;
}

.include h3{
    color: #000;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
}

.include p{
    color: #000248;
font-family: "DM Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
}

@media (max-width:774px) {
    .include button{
        border: none;
        padding: 8px 13px;
        background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%), #FFF;
    }
    
    .include button a{
        text-decoration: none;
        color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    }
    
    .include h2{
        color: #FFFDFD;
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    }
    
    .include h2 span{
        background: linear-gradient(137deg, #87D972 10.74%, #42C6A6 54.44%, #32B4C6 100.84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    }
    
    .include h6{
        color: #EEE;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    }
    
    .include .col-lg-4 .col-box{
        background-color: #FFF;
        border-top-right-radius: 50px;
        min-height: 414px;
        padding: 10px 20px;
        border-bottom-left-radius: 50px;
    }
    
    .include h3{
        color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    }
    
    .include p{
        color: #000248;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    }
}

.top-foot{
    background: #EAF8FF;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-foot h2{
    color: #12141D;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
}

.top-foot button{
    border: none;
    display: flex;
padding: 15.374px 30.505px 15.373px 30.747px;
justify-content: center;
align-items: center;
flex-shrink: 0;
    border-radius: 3.843px;
background: linear-gradient(144deg, #302F70 -40.25%, #D34375 27.73%, #F3A146 101.39%), #FF5906;
}

.top-foot button a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: "DM Sans";
font-size: 36.896px;
font-style: normal;
font-weight: 700;
}

.mid-foot{
    min-height: 137px;
    background: #1E2029;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-foot{
    background: #EAF8FF;
}

.base-foot p{
    padding: 10px 0px;
    color: #000;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
}

.did-you .left{
    background: url(../Images/SVG.png);
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.did-you .right h2{
    color: #E9E9E9;
font-family: "DM Sans";
font-size: 22.404px;
font-style: normal;
font-weight: 400;
}

.did-you  h6{
    background: linear-gradient(94deg, #BCDE5B -33.44%, #4FD68D 46.71%, #28A7DE 100.88%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 28.005px;
font-style: normal;
font-weight: 700;
}

.did-you button{
    background: rgba(0, 208, 156, 0.10);
    padding: 8px 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.did-you .right .text-wrap{
    background: #ffffff;
}

.did-you .form-box{
    background: #FFF;
height: 590px;
width: 484px;
display: flex;
flex-direction: column;
justify-content: center;
}

.did-you .text-wrap h4{
    color: #702FFF;
text-align: center;
font-family: "DM Sans";
font-size: 24.644px;
font-style: normal;
font-weight: 700;
}

.did-you .text-wrap h5{
    color: #757589;
font-family: "DM Sans";
font-size: 17.923px;
font-style: normal;
font-weight: 400;
}


.did-you .form-box .row{
    display: flex;
    justify-content: center;
}

@media screen {
    
}

.website .box{
    border-radius: 10px;
border: 2px solid #2F2E70;
background: #1E2029;
backdrop-filter: blur(94.8499984741211px);
}

.website h2{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
}

.website input{
    color: #1F2124;
font-family: Poppins;
font-size: 19px;
font-style: normal;
font-weight: 400;
}

.website button{
    border-radius: 0px 10px 10px 0px;
background: linear-gradient(101deg, #332F70 -45.49%, #D34375 32.93%, #F29E47 97.72%);
color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 22.4px;
font-style: normal;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width:774px) {
    .website .box{
        border-radius: 10px;
    border: 2px solid #2F2E70;
    background: #1E2029;
    backdrop-filter: blur(94.8499984741211px);
    }
    
    .website h2{
        color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    }
    
    .website input{
        color: #1F2124;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    }
    
    .website button{
        border-radius: 0px 10px 10px 0px;
    background: linear-gradient(101deg, #332F70 -45.49%, #D34375 32.93%, #F29E47 97.72%);
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.contact{
    background: #1E2029;
    overflow: hidden;
}

.contact h2{
    font-family: DM Sans;
font-size: 50px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}

.contact input{
    width: 100%;
    font-family: DM Sans;
font-size: 15px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF !important;
background: transparent;
border: 1px solid #FFFFFF;
border-radius: 20px;
padding: 10px;
}

.contact label{
    font-family: DM Sans;
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.contact button{
    background: linear-gradient(90deg, #971D6D 0%, #8F3A18 100%);
    font-family: DM Sans;
font-size: 22px;
border: none;
font-weight: 500;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
padding: 7px 50px;
}

.contact textarea{
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 20px;
}

@media (max-width:774px) {
    .contact h2{
        font-size: 36px;
    }
}